// // // Color variables
$main-color: #ff6060;
$main-background-color: white;
$cards-background-color: #f7f7f7;
$collapse-background-color: #f7f7f7;
$footer-background-color: black;
$main-font-color: $main-color;
$secondary-font-color: white;
$tags-background-color: $main-color;
